.content 
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  // background-color: #3ea9f5
  padding: 0 10%
  font-family: Helvetica
  text-align: center

h2
  color: #fff
  font-size: 38px
  font-weight: bold
  
h4
  color: #fff
  font-size: 18px
  font-weight: 500
  line-height: 27px
  width: 88%
  margin: 11px auto 0 auto

section
  width: 75% 
  min-width: 350px
  @media screen and (max-width: 960px)
    width: 95%
  
.terms
  margin: 0 0 10px
  color: #fff
  margin: 10px 0
  a
    color: #fff
